In [1]:
#multi index and index hierachy

In [2]:
import numpy as np
import pandas as pd

In [5]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]

hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [7]:
inside

[1, 2, 3, 1, 2, 3]

In [8]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [9]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [12]:
df = pd.DataFrame(np.random.randn(6, 2), hier_index, ['A', 'B'])

In [13]:
df

             A         B
G1 1  1.533184 -0.666759
   2  0.498202 -1.303035
   3 -0.023535  1.295307
G2 1  0.345982 -0.539373
   2  0.320259 -0.368927
   3  0.861457  1.182786

In [14]:
df.loc['G1']

          A         B
1  1.533184 -0.666759
2  0.498202 -1.303035
3 -0.023535  1.295307

In [15]:
df.loc['G1'].loc[1]

A    1.533184
B   -0.666759
Name: 1, dtype: float64

In [16]:
df.index.names

FrozenList([None, None])

In [17]:
df.index.names = ['groups','nums']

In [18]:
df

                    A         B
groups nums
G1     1     1.533184 -0.666759
       2     0.498202 -1.303035
       3    -0.023535  1.295307
G2     1     0.345982 -0.539373
       2     0.320259 -0.368927
       3     0.861457  1.182786

In [19]:
df.loc['G2']

             A         B
nums
1     0.345982 -0.539373
2     0.320259 -0.368927
3     0.861457  1.182786

In [20]:
df.loc['G2'].loc[2]

A    0.320259
B   -0.368927
Name: 2, dtype: float64

In [21]:
df.loc['G2'].loc[2]['B']

np.float64(-0.3689268186156657)

#cross section

In [24]:
df.xs('G1')

             A         B
nums
1     1.533184 -0.666759
2     0.498202 -1.303035
3    -0.023535  1.295307

In [25]:
df.xs(1,level='Num')

KeyError: 'Level Num not found'