In [5]:
import pandas as pd

In [6]:
sal = pd.read_csv('Salaries.csv')

In [7]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [8]:
sal.info() #returns the number of columns and number of entry rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [9]:
sal['BasePay'].mean()   #mean of the base salary

np.float64(66325.4488404877)

In [10]:
sal['OvertimePay'].max()

245131.88

In [11]:
sal['JobTitle']

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [12]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [13]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [14]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPay']

24    270324.91
Name: TotalPay, dtype: float64

In [15]:
sal[sal['TotalPay'] == sal['TotalPay'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [16]:
sal[sal['TotalPay'] == sal['TotalPay'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [17]:
sal.iloc[sal['TotalPayBenefits'].argmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [18]:
sal.groupby('Year', numeric_only=True).mean()['BasePay']

TypeError: DataFrame.groupby() got an unexpected keyword argument 'numeric_only'

In [19]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [20]:
sal['JobTitle'].count()

np.int64(148654)

In [21]:
sal['JobTitle'].nunique()

2159

In [22]:
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [23]:
sal[sal['Year']==2013]['JobTitle'].value_counts()

JobTitle
Transit Operator                2295
Special Nurse                   1445
Registered Nurse                1231
Public Svc Aide-Public Works     859
Custodian                        789
                                ...
IS Technician Assistant            1
Chief, Fire Department             1
Braillist                          1
Victim & Witness Technician        1
Senior Assessment Clerk            1
Name: count, Length: 1051, dtype: int64

In [24]:
sal[sal['Year']==2013]['JobTitle'].value_counts() == 1

JobTitle
Transit Operator                False
Special Nurse                   False
Registered Nurse                False
Public Svc Aide-Public Works    False
Custodian                       False
                                ...
IS Technician Assistant          True
Chief, Fire Department           True
Braillist                        True
Victim & Witness Technician      True
Senior Assessment Clerk          True
Name: count, Length: 1051, dtype: bool

In [25]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [26]:
def chief_String(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [27]:
sal['JobTitle'].iloc[0]

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [28]:
chief_String('GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY')

False

In [29]:
sal['JobTitle'].apply(lambda x: chief_String(x))

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [30]:
sum(sal['JobTitle'].apply(lambda x: chief_String(x)))

477

In [31]:
sum(sal['JobTitle'].apply(lambda x: chief_String(x)))

477

In [32]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [33]:
sal[['TotalPay','title_len']].corr()

           TotalPay  title_len
TotalPay   1.000000  -0.015356
title_len -0.015356   1.000000